:root {
  --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --ja-font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
}

body {
    font-family: "Lato", 
                /* For modern browsers and Android */
                system-ui, Roboto, "Helvetica Neue",
                /* for ↓Windows/Mac */
                "游ゴシック体", "Yu Gothic", YuGothic, 
                "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", 
                "メイリオ", "Meiryo", 
                sans-serif;
}

.underlineDotted {
    border-bottom-color: #443088;
    border-bottom-style: dotted;
    border-bottom-width: 6px;
}